/* CSS Document */
body { 
    font-size: 12px;
    margin: 0;
    background-color: #7a7a7a;
    
}

/* Main wrapper */
.wrapper {
    width: 640px;
    margin: 30px auto;
    background-color: #f3dc9b;
    background-image: url("../img/page_bg.jpg");
    background-repeat: repeat;
    border: 4px solid #ffffff;
}

/* Header */
.header {
    width: 640px;
    height: 140px;
    position: relative;
}

.banner {
    width: 640px;
    height: 140px;
    object-fit: cover;
    display: block;
}

/* Header text */
.header h1 {
    position: absolute;
    top: 30px;
    left: 20px;
    margin: 0;
    color: #FCF8E3;
    letter-spacing: 10px;
    font-size: 18px;
}

.header p {
    position: absolute;
    top: 52px;
    left: 20px;
    margin: 0;
    font-size: 10px;
    font-weight: bold;
    color: #E2D179;
}

/* Content layout */
.content {
    display: flex;
}

/* Main content */
.main { 
    color: #333333;
    width: 480px;
    padding: 20px;
    font-size: 12px;
    line-height: 2,0
}

.main h3 {
    color: #a0410D;
    margin-bottom: 5px;
}

/* Sidebar */
.sidebar {
    width: 160px;
    background-color: #f0c46a;
    padding: 15px;
    font-size: 10px;
    border-left: 1.5px dotted #8b6b2a;
}

.sidebar .title {
    background-color: #595A38;
    color: #FCF8E3;
    padding: 6px;
    font-weight: bold;
    margin-bottom: 10px;
    border: 1px solid #3a3b22;
}

.sidebar ul {
    padding-left: 18px;
    list-style: square;
}

.sidebar li {
    margin-bottom: 5px;
}

.sidebar a {
    color: blue;
    text-decoration: underline;
}

/* Footer */
.footer {
    width: 640px;
    height: 70px;
    background-image: url("../img/footer.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FCF8E3;
    font-weight: bold;
    font-size: 12px;

}